---
import ComponentGuideLayout from '../../layouts/ComponentguideLayout.astro';

import Catch from '../../components/Catch.astro'
---
<ComponentGuideLayout title="Catch">
  <section>
    <p>トップのメインビジュアルに表示させるコンポーネントです。</p>
    <div>
      <Catch />
    </div>
  </section>
  <section>
    <h3 class="heading-s">ローディング</h3>
    <div>
      <Catch isLoading />
    </div>
  </section>
</ComponentGuideLayout>
