---
import ComponentGuideLayout from '../../layouts/ComponentguideLayout.astro';

import CanDoIcon from '../../components/CanDoIcon/Icon.astro';
---
<ComponentGuideLayout title="Cando Icon">
  <ul class="list-horizon">
    <li>
      <CanDoIcon name="design" />
    </li>
    <li>
      <CanDoIcon name="cording" />
    </li>
    <li>
      <CanDoIcon name="wordpress" />
    </li>
    <li>
      <CanDoIcon name="nextjs" />
    </li>
    <li>
      <CanDoIcon name="astro" />
    </li>
  </ul>
</ComponentGuideLayout>