---
import ComponentGuideLayout from '../../layouts/ComponentguideLayout.astro';

import Checkbox from '../../components/Checkbox.astro'
---
<ComponentGuideLayout title="Checkbox">
  <section>
    <div>
      <Checkbox id="checkbox1" name="option1" value="選択肢" dataOnchange="handleChange">選択肢</Checkbox>
    </div>
  </section>
  <section>
    <h3 class="heading-s">ステート</h3>
    <p>
      ボタンの状態は5種類あります。<br>
      Default（デフォルト）、Focus（タブでフォーカス時）、Error（フォームエラー時）、Disable（利用不可）、Checked（選択時）
    </p>
    <ul class="list-vertical">
      <li>
        <Checkbox id="checkbox-error" name="error" value="Error" dataOnchange="handleChange" error>Error</Checkbox>
        <Checkbox id="checkbox-disable" name="disable" value="Disable" dataOnchange="handleChange" disabled>Disabled</Checkbox>
        <Checkbox id="checkbox-checked" name="checked" value="Checked" dataOnchange="handleChange" checked>Checked</Checkbox>
        </li>
    </div>
  </section>
</ComponentGuideLayout>

<script type="module">
  document.addEventListener('DOMContentLoaded', () => {
    const elements = document.querySelectorAll('.c-check [data-onchange="handleChange"]');

    elements.forEach(element => {
      element.onchange = (event) => {
        console.log(`選択された値: ${event.target.value}`);
      };
    });
  });
</script>