---
import ComponentGuideLayout from '../../layouts/ComponentguideLayout.astro';

import Hamburger from '../../components/Hamburger.astro'
---
<ComponentGuideLayout title="Hamburger">
  <section>
    <p>スマホビューのときだけ表示されます。</p>
    <Hamburger />
  </section>
</ComponentGuideLayout>