---
import ComponentGuideLayout from '../../layouts/ComponentguideLayout.astro';

import Header from '../../components/Header.astro'
---
<ComponentGuideLayout title="Header">
  <section>
    <p>ヘッダーはスタイルの都合でページ上部に表示されてます。</p>
    <Header />
  </section>
</ComponentGuideLayout>
