---
import ComponentGuideLayout from '../../layouts/ComponentguideLayout.astro';

import Icon from '../../components/Icon/Icon.astro'
---
<ComponentGuideLayout title="Icon">
  <ul class="list-horizon">
    <li>
      <Icon name="slot" />
      <Icon name="slot" fill />
    </li>
    <li>
      <Icon name="arrow-down" />
      <Icon name="arrow-down" fill />
    </li>
    <li>
      <Icon name="arrow-down-s" />
      <Icon name="arrow-down-s" fill />
    </li>
    <li>
      <Icon name="arrow-left" />
      <Icon name="arrow-left" fill />
    </li>
    <li>
      <Icon name="arrow-left-s" />
      <Icon name="arrow-left-s" fill />
    </li>
    <li>
      <Icon name="arrow-right" />
      <Icon name="arrow-right" fill />
    </li>
    <li>
      <Icon name="arrow-right-s" />
      <Icon name="arrow-right-s" fill />
    </li>
    <li>
      <Icon name="arrow-up" />
      <Icon name="arrow-up" fill />
    </li>
    <li>
      <Icon name="arrow-up-s" />
      <Icon name="arrow-up-s" fill />
    </li>
    <li>
      <Icon name="add" />
      <Icon name="add" fill />
    </li>
    <li>
      <Icon name="heart" />
      <Icon name="heart" fill />
    </li>
    <li>
      <Icon name="bookmark" />
      <Icon name="bookmark" fill />
    </li>
    <li>
      <Icon name="check" />
      <Icon name="check" fill />
    </li>
    <li>
      <Icon name="close" />
      <Icon name="close" fill />
    </li>
    <li>
      <Icon name="trash" />
      <Icon name="trash" fill />
    </li>
    <li>
      <Icon name="global" />
      <Icon name="global" fill />
    </li>
    <li>
      <Icon name="home" />
      <Icon name="home" fill />
    </li>
    <li>
      <Icon name="information" />
      <Icon name="information" fill />
    </li>
    <li>
      <Icon name="question" />
      <Icon name="question" fill />
    </li>
    <li>
      <Icon name="alert" />
      <Icon name="alert" fill />
    </li>
    <li>
      <Icon name="history" />
      <Icon name="history" fill />
    </li>
    <li>
      <Icon name="mail" />
      <Icon name="mail" fill />
    </li>
    <li>
      <Icon name="loop" />
      <Icon name="loop" fill />
    </li>
    <li>
      <Icon name="map-pin" />
      <Icon name="map-pin" fill />
    </li>
    <li>
      <Icon name="message" />
      <Icon name="message" fill />
    </li>
    <li>
      <Icon name="more" />
      <Icon name="more" fill />
    </li>
    <li>
      <Icon name="notification" />
      <Icon name="notification" fill />
    </li>
    <li>
      <Icon name="phone" />
      <Icon name="phone" fill />
    </li>
    <li>
      <Icon name="settings" />
      <Icon name="settings" fill />
    </li>
    <li>
      <Icon name="share-box" />
      <Icon name="share-box" fill />
    </li>
    <li>
      <Icon name="shopping-cart" />
      <Icon name="shopping-cart" fill />
    </li>
    <li>
      <Icon name="user" />
      <Icon name="user" fill />
    </li>
    <li>
      <Icon name="search" />
      <Icon name="search" fill />
    </li>
    <li>
      <Icon name="sun" />
      <Icon name="sun" fill />
    </li>
    <li>
      <Icon name="moon" />
      <Icon name="moon" fill />
    </li>
    <li>
      <Icon name="comment" />
      <Icon name="comment" fill />
    </li>
    <li>
      <Icon name="good" />
      <Icon name="good" fill />
    </li>
  </ul>
</ComponentGuideLayout>