---
import ComponentGuideLayout from '../../layouts/ComponentguideLayout.astro';

import Loading from '../../components/Loading.astro'
---
<ComponentGuideLayout title="Loading">
  <section>
    <Loading />
  </section>
</ComponentGuideLayout>