---
import ComponentGuideLayout from '../../layouts/ComponentguideLayout.astro';

import MV from '../../components/MV.astro'
---
<ComponentGuideLayout title="MV">
  <section>
    <MV />
  </section>
</ComponentGuideLayout>