---
import ComponentGuideLayout from '../../layouts/ComponentguideLayout.astro';

import Navigation from '../../components/Navigation.astro'
---
<ComponentGuideLayout title="Navigation">
  <section>
    <Navigation />
  </section>
</ComponentGuideLayout>