---
import ComponentGuideLayout from '../../layouts/ComponentguideLayout.astro';

import SectionSkill from '../../components/SectionSkill.astro';
---
<ComponentGuideLayout title="SectionSkill">
  <div>
    <SectionSkill />
  </div>
</ComponentGuideLayout>