---
import ComponentGuideLayout from '../../layouts/ComponentguideLayout.astro';

import Section from '../../components/Section.astro'
import Chat from '../../components/Chat/Chat.astro'
import ChatItem from '../../components/Chat/ChatItem.astro'
import MessageBalloon from '../../components/MessageBalloon.astro';
---
<ComponentGuideLayout title="SectionProfile">
  <Section id="profile" background="transparent">
    <Chat>
      <ChatItem>
        <MessageBalloon>名前は？</MessageBalloon>
        <MessageBalloon type="mine">新田 詩織</MessageBalloon>
      </ChatItem>
      <ChatItem>
        <MessageBalloon>どう呼ばれてるの？</MessageBalloon>
        <MessageBalloon type="mine">にったさん、にったちゃん</MessageBalloon>
      </ChatItem>
      <ChatItem>
        <MessageBalloon>ハンドルネームは？</MessageBalloon>
        <MessageBalloon type="mine">ellie</MessageBalloon>
      </ChatItem>
      <ChatItem>
        <MessageBalloon>Impvに入ったきっかけは？</MessageBalloon>
        <MessageBalloon type="mine">専門学生時代の後輩（住井くん）からの紹介</MessageBalloon>
      </ChatItem>
      <ChatItem>
        <MessageBalloon>出身地は？</MessageBalloon>
        <MessageBalloon type="mine">広島県</MessageBalloon>
      </ChatItem>
      <ChatItem>
        <MessageBalloon>住んでる場所は？</MessageBalloon>
        <MessageBalloon type="mine">
          埼玉県本庄市<br>
          <br>
          群馬県の植民地と呼ばれてるよ
        </MessageBalloon>
      </ChatItem>
      <ChatItem>
        <MessageBalloon>趣味は？</MessageBalloon>
        <MessageBalloon type="mine">
          さんぽ、アニメ鑑賞、絵画鑑賞、図書館めぐり、スーパー銭湯、サウナ
        </MessageBalloon>
      </ChatItem>
    </Chat>
  </Section>
</ComponentGuideLayout>