---
import ComponentGuideLayout from '../../layouts/ComponentguideLayout.astro';

import SectionWorks from '../../components/SectionWorks.astro';
---
<ComponentGuideLayout title="SectionWorks">
  <div>
    <SectionWorks />
  </div>
</ComponentGuideLayout>