---
import ComponentGuideLayout from '../../layouts/ComponentguideLayout.astro';

import SectionConsult from '../../components/SectionConsult.astro'
---
<ComponentGuideLayout title="SectionConsult">
  <div>
    <SectionConsult />
  </div>
</ComponentGuideLayout>