---
import ComponentGuideLayout from '../../layouts/ComponentguideLayout.astro';

import SectionProfile from '../../components/SectionProfile.astro'
---
<ComponentGuideLayout title="SectionProfile">
  <div>
    <SectionProfile />
  </div>
</ComponentGuideLayout>