---
import ComponentGuideLayout from '../../layouts/ComponentguideLayout.astro';

import SkillIcon from '../../components/SkillIcon/Icon.astro';
---
<ComponentGuideLayout title="Cando Icon">
  <ul class="list-horizon">
    <li>
      <SkillIcon name="design" />
    </li>
    <li>
      <SkillIcon name="cording" />
    </li>
    <li>
      <SkillIcon name="wordpress" />
    </li>
    <li>
      <SkillIcon name="nextjs" />
    </li>
    <li>
      <SkillIcon name="astro" />
    </li>
  </ul>
</ComponentGuideLayout>