---
import ComponentGuideLayout from '../../layouts/ComponentguideLayout.astro';
---
<ComponentGuideLayout>
  <p>
    新田のポートフォリオサイトに使われてるスタイルガイドです。<br>
    <a href="https://www.figma.com/file/YFVdUAWJLA6FQRo2mRKwAp/Design-System?type=design&node-id=0%3A1&mode=design&t=fZeZWdjVKqyGZMRl-1" target="_blank" rel="noopener noreferrer">Figma</a>に登録されてるアイコンとコンポーネントを登録してます。
  </p>
</ComponentGuideLayout>