---
---
<div class="c-chat-item">
  <slot />
</div>

<style>
  .c-chat-item {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);

    .c-message-balloon {
      &.theirs {
        margin-right: auto;
      }

      &.mine {
        margin-left: auto;
      }
    }
  }
</style>