---
import SwitchArea from './SwitchArea.astro'
import Switch from './Switch.astro'
import Icon from '../Icon/Icon.astro'
---
<div class="c-switch-theme">
  <SwitchArea>
    <Icon name="sun" />
    <Switch />
    <Icon name="moon" />
  </SwitchArea>
</div>

<script type="module">
  document.addEventListener('DOMContentLoaded', () => {
    const switchElements = document.querySelectorAll('.c-switch-theme .c-switch');
    const html = document.querySelector('html');
    const currentTheme = localStorage.getItem('theme') || 'light';
    
    localStorage.setItem('theme', currentTheme);
    html.setAttribute('data-theme', currentTheme);

    switchElements.forEach(switchElement => {
      switchElement.checked = currentTheme === 'light';
    });

    switchElements.forEach(switchElement => {
      switchElement.addEventListener('click', () => {
        let isChecked = switchElement.checked;
        if(isChecked) {
          switchElement.checked = true;
          html.setAttribute('data-theme', 'light');
          localStorage.setItem('theme', 'light');
        } else {
          switchElement.checked = false;
          html.setAttribute('data-theme', 'dark');
          localStorage.setItem('theme', 'dark');
        }
      });
    })
  })
</script>