---
interface Props {
  className?: string;
}

const {
  className = '',
} = Astro.props
---
<div class=`c-swith-area text-label-s ${className}`>
  <slot />
</div>

<style>
  .c-swith-area {
    display: flex;
    align-items: center;
    gap: var(--space-1-5);
    color: var(--color-foreground-body);
  }
</style>