html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-family-default);
  color: var(--color-foreground-body);
  overflow-wrap: anywhere;
  word-break: normal;
  line-break: strict;
  background: var(--color-background-default);
}

.heading-display {
  font-size: clamp(4rem, 6vw, 8rem);
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0.04em;
}

.heading-l {
  font-size: clamp(3.2rem, 5vw, 4rem);
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0.04em;
}

.heading-m {
  font-size: clamp(2.4rem, 4vw, 3.2rem);

  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0.04em;
}

.heading-s {
  font-size: clamp(2rem, 3vw, 2.4rem);
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.heading-xs {
  font-size: clamp(1.6rem, 2vw, 1.8rem);
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.text-body-l {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.text-body-l-bold {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.text-body-m {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.text-body-m-bold {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.text-body-s {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.text-body-s-bold {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.text-label-l {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.text-label-m {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.text-label-s {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.02em;
}

.text-label-xs {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.02em;
}

.text-caption {
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: 0.02em;
}

.text-caption-bold {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.02em;
}

.text-button {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.icon {
  width: auto;
  height: auto;
  fill: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    transition-duration: 1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
  }
}