---
import Layout from '../layouts/Layout.astro';
import Loading from '../components/Loading.astro';
import MV from '../components/MV.astro';
import SectionProfile from '../components/SectionProfile.astro';
import SectionSkill from '../components/SectionSkill.astro';
import SectionConsult from '../components/SectionConsult.astro';
import SectionWorks from '../components/SectionWorks.astro';
---

<Layout title="Top">
	<main class="main">
    <Loading />
		<MV />
    <SectionProfile />
    <div class="cover">
      <SectionSkill />
      <SectionConsult />
      <SectionWorks />
    </div>
	</main>
</Layout>

<script>
  // ローディング中のスクロール禁止
  function noscroll(e: any){
    e.preventDefault();
  }

  // 初回確認
  // localStorage.clear();
  const htmlElement = document.getElementsByTagName('html')

  document.addEventListener('DOMContentLoaded', function() {
    const loadingElement = document.querySelector('.c-loading');
    const visited = localStorage.getItem('visited');

    function removeScrollLock() {
      document.removeEventListener('touchmove', noscroll);
      document.removeEventListener('wheel', noscroll);
    }
    
    if (!visited) {
      // 初回訪問時の処理
      htmlElement[0].classList.add("is-loading");
      document.addEventListener('touchmove', noscroll, { passive: false });
      document.addEventListener('wheel', noscroll, { passive: false });
      localStorage.setItem('visited', String(true));
      setTimeout(() => {
        htmlElement[0].classList.remove("is-loading");
      }, 3650);
      setTimeout(() => {
        loadingElement?.classList.add('is-hidden');
        removeScrollLock();
      }, 3900);
    } else {
      // 既に訪問したことがある場合
      loadingElement?.classList.add('is-hidden');
      removeScrollLock();
    }
  });
  
	import { gsap } from 'gsap';
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const MV = document.querySelector('.c-mv');
  const sectionProfile = document.querySelector('.c-section-profile');
  const cover = document.querySelector('.cover') as HTMLElement;
  const sectionConsult = document.querySelector('.c-section-consult');
  const sectionWorks = document.querySelector('.c-section-works');

	// gsap.to(MV, {
  //   opacity: 0.2,
  //   ease: "power1.out",
  //   scrollTrigger: {
  //     trigger: MV,
  //     start: "center 20%",
  //     end: "80% top",
  //     scrub: true,
  //     markers: false,
  //   }
  // });

	// ScrollTrigger.create({
  //   trigger: sectionWorks,
  //   start: "top top",  // トリガー要素の上部がビューポートの上部に来た時
	// 	end: "+=100%",
  //   onEnter: () => gsap.to(MV, { opacity: 1, duration: 0.5 }), // 透明度を1に戻す
	// 	onEnterBack: () => gsap.to(MV, { opacity: 0.2, duration: 0.5 }),
  //   markers: true,
  // });

  gsap.to(MV, {
    opacity: 0.2,
    scrollTrigger: {
      trigger: sectionProfile,
      start: "top center", 
      end: "bottom top",
      scrub: true,
      markers: false,
    }
  });

  gsap.to(MV, {
    opacity: 1,
    scrollTrigger: {
      trigger: cover,
      start: "top top", 
      end: "top top",
      scrub: true,
      markers: false,
    }
  });

  cover.style.backgroundColor = "var(--color-background-muted)";

  gsap.fromTo(cover,
    {
      backgroundColor: "var(--color-background-muted)",
    },
    {
      backgroundColor: "var(--color-background-primary-muted)",
      ease: "power1.out",
      duration: 5,
      scrollTrigger: {
        trigger: sectionConsult,
        start: "20% center",
        end: "bottom bottom",
        scrub: true,
        markers: false,
        onEnter: () => cover.style.backgroundColor = "var(--color-background-primary-muted)",
        onLeaveBack: () => cover.style.backgroundColor = "var(--color-background-muted)"
      }
    }
  );

  gsap.fromTo(cover,
    {
      backgroundColor: "var(--color-background-muted)",
    },
    {
      backgroundColor: "var(--color-background-muted)",
      ease: "power1.out",
      duration: 5,
      scrollTrigger: {
        trigger: sectionWorks,
        start: "20% center",
        end: "bottom bottom",
        scrub: true,
        markers: false,
        onEnter: () => cover.style.backgroundColor = "var(--color-background-muted)",
        onLeaveBack: () => cover.style.backgroundColor = "var(--color-background-primary-muted)"
      }
    }
  );
</script>

<style>
  html.is-loading {
    .c-header {
      transform: translateY(-100%);
      -webkit-transfrom: translateY(-100%);
    }
  }
	.main {
		padding-top: 100svh;
	}
  :global(.c-section-profile) {
		padding-bottom: 40svh !important;
  }

  .cover {
    background-color: var(--color-background-muted);
    transition: background 0.3s ease;
  }
</style>