---
import Layout from '../layouts/Layout.astro';

import ArrowDown from '../components/Icon/ArrowDown.astro'
import ArrowDownS from '../components/Icon/ArrowDownS.astro'
import ArrowLeft from '../components/Icon/ArrowLeft.astro'
import ArrowLeftS from '../components/Icon/ArrowLeftS.astro'
import ArrowRight from '../components/Icon/ArrowRight.astro'
import ArrowRightS from '../components/Icon/ArrowRightS.astro'
import ArrowUp from '../components/Icon/ArrowUp.astro'
import ArrowUpS from '../components/Icon/ArrowUpS.astro'
import Add from '../components/Icon/Add.astro'
import Heart from '../components/Icon/Heart.astro'
import Bookmark from '../components/Icon/Bookmark.astro'
import Check from '../components/Icon/Check.astro'
import Close from '../components/Icon/Close.astro'
import Trash from '../components/Icon/Trash.astro'
import Global from '../components/Icon/Global.astro'
import Home from '../components/Icon/Home.astro'
import Information from '../components/Icon/Information.astro'
import Question from '../components/Icon/Question.astro'
import Alert from '../components/Icon/Alert.astro'
import History from '../components/Icon/History.astro'
import Mail from '../components/Icon/Mail.astro'
import Loop from '../components/Icon/Loop.astro'
import MapPin from '../components/Icon/MapPin.astro'
import Message from '../components/Icon/Message.astro'
import More from '../components/Icon/More.astro'
import Notification from '../components/Icon/Notification.astro'
import Phone from '../components/Icon/Phone.astro'
import Settings from '../components/Icon/Settings.astro'
import ShareBox from '../components/Icon/ShareBox.astro'
import ShoppingCart from '../components/Icon/ShoppingCart.astro'
import User from '../components/Icon/User.astro'
import Search from '../components/Icon/Search.astro'
import Sun from '../components/Icon/Sun.astro'
import Moon from '../components/Icon/Moon.astro'
import Comment from '../components/Icon/Comment.astro'
import Good from '../components/Icon/Good.astro'
---
<Layout title="Welcome to Astro.">
  <section>
    <div class="heading-s">Icon</div>
    <ul class="icon-list">
      <li>
        <ArrowDown />
        <ArrowDown fill />
      </li>
      <li>
        <ArrowDownS />
        <ArrowDownS fill />
      </li>
      <li>
        <ArrowLeft />
        <ArrowLeft fill />
      </li>
      <li>
        <ArrowLeftS />
        <ArrowLeftS fill />
      </li>
      <li>
        <ArrowRight />
        <ArrowRight fill />
      </li>
      <li>
        <ArrowRightS />
        <ArrowRightS fill />
      </li>
      <li>
        <ArrowUp />
        <ArrowUp fill />
      </li>
      <li>
        <ArrowUpS />
        <ArrowUpS fill />
      </li>
      <li>
        <Add />
        <Add fill />
      </li>
      <li>
        <Heart />
        <Heart fill />
      </li>
      <li>
        <Bookmark />
        <Bookmark fill />
      </li>
      <li>
        <Check />
        <Check fill />
      </li>
      <li>
        <Close />
        <Close fill />
      </li>
      <li>
        <Trash />
        <Trash fill />
      </li>
      <li>
        <Global />
        <Global fill />
      </li>
      <li>
        <Home />
        <Home fill />
      </li>
      <li>
        <Information />
        <Information fill />
      </li>
      <li>
        <Question />
        <Question fill />
      </li>
      <li>
        <Alert />
        <Alert fill />
      </li>
      <li>
        <History />
        <History fill />
      </li>
      <li>
        <Mail />
        <Mail fill />
      </li>
      <li>
        <Loop />
        <Loop fill />
      </li>
      <li>
        <MapPin />
        <MapPin fill />
      </li>
      <li>
        <Message />
        <Message fill />
      </li>
      <li>
        <More />
        <More fill />
      </li>
      <li>
        <Notification />
        <Notification fill />
      </li>
      <li>
        <Phone />
        <Phone fill />
      </li>
      <li>
        <Settings />
        <Settings fill />
      </li>
      <li>
        <ShareBox />
        <ShareBox fill />
      </li>
      <li>
        <ShoppingCart />
        <ShoppingCart fill />
      </li>
      <li>
        <User />
        <User fill />
      </li>
      <li>
        <Search />
        <Search fill />
      </li>
      <li>
        <Sun />
        <Sun fill />
      </li>
      <li>
        <Moon />
        <Moon fill />
      </li>
      <li>
        <Comment />
        <Comment fill />
      </li>
      <li>
        <Good />
        <Good fill />
      </li>
    </ul>
  </section>
</Layout>

<style>
  section {
    padding: var(--space-s);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .icon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .icon-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: var(--space-xs);
    border: 1px dashed var(--color-grape-6);
    border-radius: var(--round-s);
  }
</style>