---
import Layout from '../layouts/Layout.astro';

import Icon from '../components/Icon/Icon.astro'
import Button from '../components/Button.astro'
---
<Layout title="Welcome to Astro.">
  <h1 class="heading-m">スタイル・UIライブラリ</h1>
  <section>
    <h2 class="heading-s">Icon</h2>
    <ul class="icon-list">
      <li>
        <Icon type="slot" />
        <Icon type="slot" fill />
      </li>
      <li>
        <Icon type="arrow-down" />
        <Icon type="arrow-down" fill />
      </li>
      <li>
        <Icon type="arrow-down-s" />
        <Icon type="arrow-down-s" fill />
      </li>
      <li>
        <Icon type="arrow-left" />
        <Icon type="arrow-left" fill />
      </li>
      <li>
        <Icon type="arrow-left-s" />
        <Icon type="arrow-left-s" fill />
      </li>
      <li>
        <Icon type="arrow-right" />
        <Icon type="arrow-right" fill />
      </li>
      <li>
        <Icon type="arrow-right-s" />
        <Icon type="arrow-right-s" fill />
      </li>
      <li>
        <Icon type="arrow-up" />
        <Icon type="arrow-up" fill />
      </li>
      <li>
        <Icon type="arrow-up-s" />
        <Icon type="arrow-up-s" fill />
      </li>
      <li>
        <Icon type="add" />
        <Icon type="add" fill />
      </li>
      <li>
        <Icon type="heart" />
        <Icon type="heart" fill />
      </li>
      <li>
        <Icon type="bookmark" />
        <Icon type="bookmark" fill />
      </li>
      <li>
        <Icon type="check" />
        <Icon type="check" fill />
      </li>
      <li>
        <Icon type="close" />
        <Icon type="close" fill />
      </li>
      <li>
        <Icon type="trash" />
        <Icon type="trash" fill />
      </li>
      <li>
        <Icon type="global" />
        <Icon type="global" fill />
      </li>
      <li>
        <Icon type="home" />
        <Icon type="home" fill />
      </li>
      <li>
        <Icon type="information" />
        <Icon type="information" fill />
      </li>
      <li>
        <Icon type="question" />
        <Icon type="question" fill />
      </li>
      <li>
        <Icon type="alert" />
        <Icon type="alert" fill />
      </li>
      <li>
        <Icon type="history" />
        <Icon type="history" fill />
      </li>
      <li>
        <Icon type="mail" />
        <Icon type="mail" fill />
      </li>
      <li>
        <Icon type="loop" />
        <Icon type="loop" fill />
      </li>
      <li>
        <Icon type="map-pin" />
        <Icon type="map-pin" fill />
      </li>
      <li>
        <Icon type="message" />
        <Icon type="message" fill />
      </li>
      <li>
        <Icon type="more" />
        <Icon type="more" fill />
      </li>
      <li>
        <Icon type="notification" />
        <Icon type="notification" fill />
      </li>
      <li>
        <Icon type="phone" />
        <Icon type="phone" fill />
      </li>
      <li>
        <Icon type="settings" />
        <Icon type="settings" fill />
      </li>
      <li>
        <Icon type="share-box" />
        <Icon type="share-box" fill />
      </li>
      <li>
        <Icon type="shopping-cart" />
        <Icon type="shopping-cart" fill />
      </li>
      <li>
        <Icon type="user" />
        <Icon type="user" fill />
      </li>
      <li>
        <Icon type="search" />
        <Icon type="search" fill />
      </li>
      <li>
        <Icon type="sun" />
        <Icon type="sun" fill />
      </li>
      <li>
        <Icon type="moon" />
        <Icon type="moon" fill />
      </li>
      <li>
        <Icon type="comment" />
        <Icon type="comment" fill />
      </li>
      <li>
        <Icon type="good" />
        <Icon type="good" fill />
      </li>
    </ul>
  </section>
</Layout>

<style>
  .heading-m {
    padding: var(--space-s);
  }
  section {
    padding: var(--space-s);
  }
  .icon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .icon-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: var(--space-xs);
    border: 1px dashed var(--color-grape-6);
    border-radius: var(--round-s);
  }
</style>