---
import Typography from '../Typography.astro';
---

<div class="c-modal-heading">
  <Typography size="heading-s">
    <slot />
  </Typography>
</div>

<style>
  .c-modal-heading {
    padding: var(--space-xl);
  }
</style>