---
---
<div class="c-modal-content">
  <slot />
</div>

<style>
  .c-modal-content {
    width: 100%;
    margin: auto;
    background: var(--color-background-default);
    border-radius: var(--round-l);
    position: relative;
    z-index: 2;

    @media (min-width: 768px) {
      width: 624px;
    }
  }
</style>