---
import Catch from "./Catch.astro"
---
<div class="c-loading">
  <Catch isLoading />
</div>

<script type="module">
  const loading = document.querySelector('.c-loading');
  document.addEventListener('DOMContentLoaded', function() {
    loading.style.opacity = 1;
  });
</script>

<style>
  .c-loading {
    width: 100vw;
    height: 100svh;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: var(--color-background-default);
    opacity: 0;

    &.is-hidden {
      display: none;
    }
  }
</style>