---
import Catch from "./Catch.astro"
---
<div class="c-loading">
  <div class="inner">
    <Catch isLoading />
  </div>
</div>

<script type="module">
  const loading = document.querySelector('.c-loading');
  const loadingInner = document.querySelector('.c-loading .inner');
  document.addEventListener('DOMContentLoaded', function() {
    loadingInner.style.opacity = 1;

    setTimeout(() => {
      loading.style.zIndex = "999";
    }, 1000);
  });
</script>

<style>
  .c-loading {
    width: 100vw;
    height: 100svh;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: var(--color-background-default);

    &::before {
      width: 100%;
      height: 100%;
      content: '';
      background: var(--color-background-default);
      position: absolute;
      top: 0;
      left: 0;
    }

    .inner {
      opacity: 0;
    }

    &.is-hidden {
      display: none;
    }
  }
</style>