---
interface Props {
  isLoading?: boolean
}

const {
  isLoading = false
} = Astro.props;

import Catch from "./Catch.astro"
---
<div class="c-mv">
  <Catch isLoading={isLoading} />
</div>

<style>
  .c-mv {
    width: 100vw;
    height: 100svh;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: var(--color-background-default);
  }
</style>