---
interface Props {
  id?: string;
  className?: string;
  background?: 'default' | 'muted' | 'transparent' | string;
}

const {
  id,
  className = '',
  background = 'default',
} = Astro.props;

const backgroundStyles: { [key: string]: string } = {
  default: 'var(--color-background-default)',
  muted: 'var(--color-background-muted)',
  transparent: 'transparent',
};

const safeBackground = backgroundStyles[background] || background;
---
<section id={id} class=`c-section ${className || ''}` style=`background-color: ${safeBackground}`>
  <slot />
</section>

<style>
  .c-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-xl-4) var(--space-m);
  }
</style>