---
import Section from '../components/Section.astro'
import Stack from '../components/Stack.astro'
import SectionHeading from '../components/SectionHeading/SectionHeading.astro'
import SectionHeadingMain from '../components/SectionHeading/SectionHeadingMain.astro'
import SectionHeadingSub from '../components/SectionHeading/SectionHeadingSub.astro'
import Grid from '../components/Grid/Grid.astro'
import GridItem from '../components/Grid/GridItem.astro'
import SkillItem from '../components/SkillItem.astro'
---
<Section id="skill" className="c-section-skill" background="transparent">
  <Stack direction="column" gap={{ sm: "6.4rem", md: "8rem", lg: "8rem" }} alignItems="center" width={{ sm: "100%", md: "92%", lg: "92%" }}>
    <SectionHeading>
      <SectionHeadingSub>スキル</SectionHeadingSub>
      <SectionHeadingMain>SKILL</SectionHeadingMain>
    </SectionHeading>
    <Grid as="ul" columns={{ sm: 1, md: 2, lg: 3 }} gap={{ sm: "4rem", md: "6.4rem", lg: "6.4rem" }}>
      <GridItem as="li">
        <SkillItem name="design" />
      </GridItem>
      <GridItem as="li">
        <SkillItem name="cording" />
      </GridItem>
      <GridItem as="li">
        <SkillItem name="wordpress" />
      </GridItem>
      <GridItem as="li">
        <SkillItem name="nextjs" />
      </GridItem>
      <GridItem as="li">
        <SkillItem name="astro" />
      </GridItem>
    </Grid>
  </Stack>
</Section>