---
import Section from '../components/Section.astro'
import Stack from '../components/Stack.astro'
import SectionHeading from '../components/SectionHeading/SectionHeading.astro'
import SectionHeadingMain from '../components/SectionHeading/SectionHeadingMain.astro'
import SectionHeadingSub from '../components/SectionHeading/SectionHeadingSub.astro'
import WorkItem from '../components/WorkItem/WorkItem.astro'
import WorkItemContent from '../components/WorkItem/WorkItemContent.astro'
import WorkThumbnail from '../components/WorkThumbnail.astro'
---
<Section id="works" className="c-section-works" background="inset">
  <Stack direction="column" gap={{ sm: "6.4rem", md: "8rem", lg: "8rem" }} alignItems="center" width="1152px">
    <SectionHeading>
      <SectionHeadingMain>WORKS</SectionHeadingMain>
      <SectionHeadingSub>制作物</SectionHeadingSub>
    </SectionHeading>
    <Stack direction="column" gap={{ sm: "4rem", md: "6.4rem", lg: "12rem" }}>
      <WorkItem href="https://www.loyalty.co.jp/" target="_blank">
        <WorkThumbnail
          src = '/images/work-image01.png',
          src2x = '/images/work-image01@2x.png',
          srcWebp = '/images/work-image01.webp',
          srcWebp2x = '/images/work-image01@2x.webp',
          alt = 'Loyalty Marketing',
        />
        <WorkItemContent
          subtitle="コーポレートサイト"
          title="ロイヤリティマーケティング"
          description="デザイン"
        />
      </WorkItem>
      <WorkItem href="https://jdleague.jp/" target="_blank">
        <WorkThumbnail
          src = '/images/work-image02.png',
          src2x = '/images/work-image02@2x.png',
          srcWebp = '/images/work-image02.webp',
          srcWebp2x = '/images/work-image02@2x.webp',
          alt = 'JDリーグ',
        />
        <WorkItemContent
          subtitle="コーポレートサイト"
          title="JDリーグ"
          description="デザイン／コーディング"
        />
      </WorkItem>
      <WorkItem href="https://www.art-japan.co.jp/" target="_blank">
        <WorkThumbnail
          src = '/images/work-image03.png',
          src2x = '/images/work-image03@2x.png',
          srcWebp = '/images/work-image03.webp',
          srcWebp2x = '/images/work-image03@2x.webp',
          alt = '株式会社アート',
        />
        <WorkItemContent
          subtitle="コーポレートサイト"
          title="株式会社アート"
          description="コーディング／WordPress"
        />
      </WorkItem>
      <WorkItem href="https://emonote.jp/" target="_blank">
        <WorkThumbnail
          src = '/images/work-image04.png',
          src2x = '/images/work-image04@2x.png',
          srcWebp = '/images/work-image04.webp',
          srcWebp2x = '/images/work-image04@2x.webp',
          alt = 'エモノート',
        />
        <WorkItemContent
          subtitle="レビューサイト"
          title="エモノート"
          description="デザイン"
        />
      </WorkItem>
      <WorkItem href="https://www.yamada-denkiweb.com/?utm_source=google&utm_medium=cpc&utm_campaign=brand&utm_term=00004_g_b&gad_source=1&gclid=CjwKCAjw5v2wBhBrEiwAXDDoJe_A_0QY1zfoYJhsbry3C4Iup8DIMEPPzb-HDy7y1SILu2WeaSwLXxoCh78QAvD_BwE" target="_blank">
        <WorkThumbnail
          src = '/images/work-image05.png',
          src2x = '/images/work-image05@2x.png',
          srcWebp = '/images/work-image05.webp',
          srcWebp2x = '/images/work-image05@2x.webp',
          alt = 'ヤマダウェブコム',
        />
        <WorkItemContent
          subtitle="ECサイト"
          title="ヤマダウェブコム"
          description="コーディング"
        />
      </WorkItem>
      <WorkItem href="https://www.n-pri.jp/app/shimaumabook/" target="_blank">
        <WorkThumbnail
          src = '/images/work-image06.png',
          src2x = '/images/work-image06@2x.png',
          srcWebp = '/images/work-image06.webp',
          srcWebp2x = '/images/work-image06@2x.webp',
          alt = 'しまうまプリント フォトブックアプリ',
        />
        <WorkItemContent
          subtitle="ランディングページ"
          title="しまうまプリント フォトブックアプリ"
          description="デザイン／コーディング"
        />
      </WorkItem>
    </Stack>
  </Stack>
</Section>