---
interface Props {
  id?: string;
  className?: string;
  ariaLabelledby?: string;
  tabIndex?: number;
  hidden?: boolean;
}

const {
  /** ID */
  id = 'panel1',
  /** Class */
  className = '',
  /** 適用される要素のラベル付け（Aria Labelled By） */
  ariaLabelledby = 'tab',
  /** タブインデックス */
  tabIndex = 0,
  /** 非表示 */
  hidden = false
} = Astro.props;
---
<div
  {...(id ? { id: id } : {})}
  class={`c-tab-panel ${className || ''}`}
  role='tabpanel'
  aria-labelledby={ariaLabelledby}
  tab-index={tabIndex}
  hidden={hidden}
>
  <div class="wrap">
    <slot/>
  </div>
</div>

<style>
  .c-tab-panel {
    width: 100%;
    
    .wrap {
      padding: var(--space-2);
    }
  }
</style>