---
interface Props {
  href?: string;
  target?: '_blank' | '_self' | '_parent' | '_top';
  direction?: 'row' | 'column' ;
  rel?: string;
}

const {
  href,
  target = '_self',
  direction = 'row',
  rel = 'noopener noreferrer',
} = Astro.props;
---
<div class=`c-work-item ${direction}`>
  <a href={href} target={target} rel={rel}>
    <slot />
  </a>
</div>

<style>
  .c-work-item {
    width: 100%;

    .c-work-thumbnail,
    .c-work-item-content {
      width: 100%;
      transition: .4s;
    }

    .c-typography {
      transition: .4s;
    }

    > a {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (hover: hover) {
        &:hover {
          .c-work-thumbnail {
            background: var(--color-background-primary-muted);

            .c-image {
              scale: 1.02;
            }
          }

          .c-typography {
            color: var(--color-foreground-primary) !important;
          }
        }
      }
    }

    @media (min-width: 768px) {
      > a {
        flex-direction: row;
      }

      .c-work-thumbnail {
        width: 56%;
      }

      .c-work-item-content {
        width: 44%;
      }
    }

    &.row {
      &:nth-child(2n) {
        @media (min-width: 768px) {
          > a {
            flex-direction: row-reverse;
          }
        }
      }
    }

    &.column {
      > a {
        flex-direction: column;
      }

      .c-work-thumbnail,
      .c-work-item-content {
        width: 100%;
      }

      .c-work-item-content {
        padding: var(--space-s) 0;
      }
    }
  }
</style>