---
interface Props {
  id?: string;
  className?: string;
  isOpen?: boolean;
}

const {
  /** ID */
  id = '',
  /** Class */
  className = '',
  /** 初期は開いてる状態にする */
  isOpen = false
} = Astro.props;
---
<div
  {...(id ? { id: id } : {})}
  class={`c-accordion-item ${className || ''} ${isOpen ? 'is-open' : ''}`}
>
  <slot />
</div>

<style>
  .c-accordion-item {
    width: 100%;
    border-bottom: 1px solid var(--color-border-default);

    .c-accordion-panel {
      overflow: hidden;
      transition: height 0.3s ease-out;
      height: 0;
    }

    &.is-open {
      .c-accordion-panel {
        overflow: visible;
        height: auto;
      }
    }
  }
</style>

